*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, transparent 0%, #F27706 90%, #FC7900 100%), url(./img/pizza_back\ 2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

:root{
    --text-font:'Roboto', sans-serif;
    --logo-font: 'Pattaya', serif;
    --red:#F01212;
    --red2: #F93030;
    --white: #ffffff;
    --grey: #C4C4C4;
}

@media(max-width: 412px){
    header{
        width: 100%;
        height: 20%;
    }

    main{
        width: 100%;
        height: 80%;
    }
}
    
