*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, transparent 0%, #F27706 100%, #FC7900 100%), url(../img/pizza\ peperoni.png);
    background-position: center;
    background-size: contain;
    font-family: var(--text-font);
}

:root{
    --text-font: 'Roboto', sans-serif;
    --logo-font:'Pattaya', sans-serif;
    --red:#F01212;
    --red2: #F93030;
    --white: #ffffff;
    --grey: #999999;
    --orange: #F27706;
    --green: #199570;
}

#img-perfil{
    display: none;
}

@media(min-width: 737px){
    body{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to top, transparent 0%, #F27706 100%, #FC7900 100%), url(../img/pizza_create.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    header{
        width: 100vw;
        height: 25vh;
    }

    .criar__conta{
        width: 100vw;
        height:10vh;
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 5%;
        color: var(--white);
        font-weight: 600;
        font-size: larger;
        padding-left: 5%;
    }    

    .criar__conta img{
        width: 1vw;
        height: 3vh;
    }

    .foto__perfil{
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: center;
    }

    .circulo__foto{
        display: flex;
        justify-content: center;
        width: 8vw;
        height: 16vh;
        background-color: var(--grey);
        border-radius: 100%;
        position: relative;
        place-self: center;
    }
    .circulo__foto img{
        width: 6vw;
        height: 12vh;
        place-self: center;
    }

    .circulo__adicionar{
        width: 3vw;
        height: 6vh;
        border-radius: 100%;
        background-color: var(--red2);
        display: flex;
        justify-content: center;
        place-items: center;
        position: absolute;
        top:22%;
        left: 53%;
    }
    .circulo__adicionar img{
        width: 1.8vw;
        height: 3.5vh;
        cursor: pointer;
    }

    main{
        width: 30vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 45px;
        place-items: center;
    }

    .cadastro{
        width: 100%;
        height: 85%;
        background-color: var(--white);
        border-radius: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2%;
        padding-left: 5%;
    }

    .rotulo{
        padding-left: 3%;
        color: var(--grey);
        font-size: large;
    }

    .campo{
        outline: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        cursor: text;
        width:90%;
        border-color: rgba(0, 0, 0, 0.1);
        height: 30px;
    }

    .input{
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 5%;
        padding-bottom: 2%;
    }


    .cadastrar{
        width: 90%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .botao__criar{
        width: 90vw;
        height: 7vh;
        display: flex;
        background-color: var(--green);
        place-items: center;
        justify-content: center;
        color: var(--white);
        font-size: larger;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media(max-width: 736px){
    header{
        width: 100vw;
        height: 30vh;
    }

    .criar__conta{
        width: 100vw;
        height:10vh;
        display: flex;
        flex-direction: row;
        place-items: center;
        gap: 5%;
        color: var(--white);
        font-weight: 600;
        font-size: larger;
        padding-left: 5%;
    }

    .criar__conta img{
        width: 4vw;
        height: 3vh;
    }

    .foto__perfil{
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: center;
    }

    .circulo__foto{
        display: flex;
        justify-content: center;
        width: 35vw;
        height: 16vh;
        background-color: var(--grey);
        border-radius: 100%;
        position: relative;
        place-self: center;
    }
    .circulo__foto img{
        width: 25vw;
        height: 12vh;
        place-self: center;
    }

    .circulo__adicionar{
        width: 12vw;
        height: 6vh;
        border-radius: 100%;
        background-color: var(--red2);
        display: flex;
        justify-content: center;
        place-items: center;
        position: absolute;
        top:22%;
        left: 60%;
    }
    .circulo__adicionar img{
        width: 8vw;
        height: 3.5vh;
        cursor: pointer;
    }

    main{
        width: 100vw;
        height: 70vh;
        background-color: var(--white);
        border-radius: 45px;
    }

    .cadastro{
        width: 100vw;
        height: 60vh;
        background-color: var(--white);
        border-radius: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4%;
        padding-left: 5%;
    }

    .rotulo{
        padding-left: 5%;
        color: var(--grey);
        font-size: large;
    }

    #campo{
        border-style: none;
        background-color: transparent;
        cursor: text;
    }

    .input{
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 5%;
        padding-bottom: 3%;
    }
    .input::after{
        content: '';
        width:90%;
        height: 1px;
        position: absolute;
        background-color: black;
        bottom: 0;
        display: flex;
        justify-self: center;
    }

    .cadastrar{
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .botao__criar{
        width: 90vw;
        height: 7vh;
        display: flex;
        background-color: var(--green);
        place-items: center;
        justify-content: center;
        color: var(--white);
        font-size: larger;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;
    }

}